
<%= simple_form_for(@league) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="mb-6">
    <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Title: </label>
      <%= f.input :title,
        label:false, 
        input_html: {class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
  </div>

  <div class="flex items-center justify-between">
    <%= f.button :submit, "Create Game", class:"px-4 py-2 font-bold w-full text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline"  %>
  </div>
<% end %>