<p id="notice"><%= notice %></p>

<h1>Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Center referee</th>
      <th>Assistant referee 1</th>
      <th>Assistant referee 2</th>
      <th>Fourth official</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.game_id %></td>
        <td><%= assignment.center_referee_id %></td>
        <td><%= assignment.assistant_referee_1_id %></td>
        <td><%= assignment.assistant_referee_2_id %></td>
        <td><%= assignment.fourth_official_id %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
