<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @assignment.game.teams %>
</p>

<p>
  <strong>Center referee:</strong>
  <%= @assignment.center_referee.name %>
</p>

<p>
  <strong>Assistant referee 1:</strong>
  <%= @assignment.assistant_referee_1.name %>
</p>

<p>
  <strong>Assistant referee 2:</strong>
  <%= @assignment.assistant_referee_2.name %>
</p>

<p>
  <strong>Fourth official:</strong>
  <%= @assignment.fourth_official.name %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
