<div class="flex flex-col items-center h-screen my-32">
  <div class="w-full max-w-2xl ">
    <div class="px-8 pt-6 pb-8 mb-4 bg-white rounded shadow-md">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-4">
        <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Profile Picture</label>
          <%= f.file_field :image, accept: 'image/png, image/jpeg', direct_upload: true %>
      </div>	
      <div class="mb-4">
        <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Email</label>     
            <%= f.input :email,
                label: false,
                autofocus: true,
                input_html: { autocomplete: "email", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
      </div>
      <div>
      <div class="mb-6">
        <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Password</label>
            <%= f.input :password,
                        label:false,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "password", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
      </div>
      <div class="mb-4">
        <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Password Confirmation</label>
            <%= f.input :password_confirmation,
                label:false,
                input_html: { autocomplete: "password confirmation", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
      </div>
      <%= f.simple_fields_for :address do |a| %>
        <div class="mb-4">
            <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Street Address</label>
                <%= a.input :street_address, id: :street_address,
                    label:false,
                    input_html: { autocomplete: "street address", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
        <div class="mb-4">
            <label class="block mb-2 text-sm font-bold text-gray-700" for="username">City</label>
                <%= a.input :city, id: :city,
                    label:false,
                    input_html: { autocomplete: "city", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
        <div class="mb-4">
            <label class="block mb-2 text-sm font-bold text-gray-700" for="username">State</label>
                <%= a.input :state, id: :state,
                    label:false,
                    input_html: { autocomplete: "state", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
        <div class="mb-4">
            <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Zip Code</label>
                <%= a.input :zip_code, id: :zip_code,
                    label:false,
                    input_html: { autocomplete: "zip code", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
      <% end %>
      <div class="mb-4">
        <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Cell Phone</label>
                <%= f.input :cell_phone,
                            label:false,
                            autofocus: true,
                            input_html: { autocomplete: "cell phone", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
      </div>
      <div class="mb-4">
        <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Work Phone</label>
                <%= f.input :work_phone,
                            label:false,
                            autofocus: true,
                            input_html: { autocomplete: "work phone", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
      </div>
      <div class="mb-4">
        <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Home Phone</label>
                <%= f.input :home_phone,
                            label:false,
                            autofocus: true,
                            input_html: { autocomplete: "home phone", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
      </div>
      <div class="mb-4">
        <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Referee Grade</label>
                <%= f.input :grade,
                            collection: User.grades,
                            label:false,
                            autofocus: true,
                            input_html: { autocomplete: "home phone", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
      </div>
      <div class="mb-4">
        <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Role</label>
                <%= f.input :role,
                            collection: User.roles,
                            label:false,
                            autofocus: true,
                            input_html: { autocomplete: "home phone", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
      </div>
      <div class="flex items-center justify-between">
        <%= f.button :submit, "Sign Up", class:"px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline"  %>
        <a class="inline-block text-sm font-bold text-blue-500 align-baseline hover:text-blue-800" href="#">Forgot Password</a>
      </div>
      <% end %>
    </div>
  </div>  
</div>