<div class="z-0 w-full h-32 pb-20 bg-black"></div>
<div class="inline-flex mb-10">
    <% if current_user.profile_picture.attached? %>
        <img class="w-48 h-48 -mt-24 border-solid rounded-full border-sky-300 border-6 ml-80" src=<%= current_user.profile_picture.url(:gravity=>"face", :zoom=>0.5, :width=>300, :height=>300, :crop=>"thumb") %> >
    <% else %>
        <%= image_tag("profile_default.jpg", class: "w-48 h-48 -mt-24 border-solid rounded-full border-sky-300 border-6 ml-80") %>
    <% end %>
    <div>
        <h1 class="pt-4 pl-4 text-2xl text-left"><%= current_user.first_name %></h1>
        <h1 class="pt-2 pl-4 text-sm text-left"><%= current_user.grade %> Referee | 
        <%= current_user.address["city"] %>, <%= current_user.address["state"] %></h1>
    </div>
</div>

<div class="flex flex-wrap" id="tabs-id">
    <div class="w-full">
      <ul class="flex flex-row flex-wrap pt-3 pb-4 mb-0 list-none">
        <li class="flex-auto ml-2 mr-2 -mb-px text-center ">
          <a class="block px-5 py-3 text-xs font-bold leading-normal text-white uppercase rounded shadow-lg cursor-pointer bg-coolGray-900" onclick="changeAtiveTab(event,'tab-profile')">
            <i class="mr-1 text-base"></i>  Calendar View
          </a>
        </li>
        <li class="flex-auto mr-2 -mb-px text-center last:mr-0">
          <a class="block px-5 py-3 text-xs font-bold leading-normal uppercase bg-white rounded shadow-lg cursor-pointer text-coolgray-900" onclick="changeAtiveTab(event,'tab-settings')">
            <i class="mr-1 text-base fas fa-cog"></i>  Games
          </a>
        </li>
        <li class="flex-auto mr-2 -mb-px text-center last:mr-0">
          <a class="block px-5 py-3 text-xs font-bold leading-normal uppercase bg-white rounded shadow-lg cursor-pointer text-coolgray-900" onclick="changeAtiveTab(event,'tab-options')">
            <i class="mr-1 text-base fas fa-briefcase"></i>  Contact Information
          </a>
        </li>
      </ul>
      <div class="relative flex flex-col w-full min-w-0 mb-6 break-words bg-white rounded shadow-lg">
        <div class="flex-auto px-4 py-5">
          <div class="tab-content tab-space">
            <div class="block" id="tab-profile">
                <div class="mb-32">
                    <%= month_calendar(events: current_user.games+current_user.blocks) do |date, events| %>
                        <h1><%= date.day %></h1>
                    
                        <% events.each do |event| %>
                            <div>
                                <% if event.is_a? Game %>
                                    <%= link_to event do %>
                                        <h1 class="text-center text-white bg-blue-500"><%= event.teams %></h1>
                                    <% end %>
                                <% elsif event.is_a? Block %>
                                    <%= link_to event do %>
                                        <h1 class="text-center bg-red-500"> Block: <%= event.start_time.strftime("%I:%M%P")  %> - <%= event.end_time.strftime("%I:%M%P")  %> </h1>
                                    <% end %>
                                <% end %>
                            </div>    
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="hidden text-center" id="tab-settings">
              <% current_user.games.each do |game| %>
                <ul>
                    <li class="w-1/2 mb-4 text-left border-2 rounded-md border-coolGray-900">
                        <p class=""><%= game.start_time&.strftime("%a %b %d, %Y %l:%M%P")  %> - <%= game.end_time&.strftime("%l:%M%P")  %></p>
                        <p class="mb-2"><%= game.home_team %> vs <%= game.away_team %></p>
                        <p class="mb-2">Center: <%= game.assignment.center_referee&.name %></p>
                        <p class="mb-2">AR1: <%= game.assignment.assistant_referee_1&.name %></p>
                        <p class="mb-2">AR2: <%= game.assignment.assistant_referee_2&.name %></p> 
                        <p class="">4th: <%= game.assignment.fourth_official&.name %></p> 
                         
                    </li>
                </ul>
              <% end %>
            </div>
            <div class="hidden" id="tab-options">
                <div class="flex flex-row items-center text-center justify-evenly">
                    <div class="">
                        <h1 class=""><strong>Primary Email: </strong><%= current_user.email %></h1>
                        <h1 class="mb-4"><strong>Secondary Email: </strong><%= current_user.email_2 %></h1>
                    </div>
                    <div class="">
                        <h1 class=""><strong>Cell Phone: </strong><%= current_user.formatted_cell_phone %></h1>
                        <h1 class=""><strong>Work Phone: </strong><%= current_user.formatted_work_phone %></h1>
                        <h1 class=""><strong>Home Phone: </strong><%= current_user.formatted_home_phone %></h1>
                    </div>
                    <div class="">
                        <h1 class=""><strong>Address: </strong></h1>
                        <h1 class=""><%= current_user.address["street_address"] %></h1>
                        <h1 class=""><%= current_user.address["city"] %>, <%= current_user.address["state"] %>, <%= current_user.address["zip_code"] %></h1>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






  
  <script type="text/javascript">
    function changeAtiveTab(event,tabID){
      let element = event.target;
      while(element.nodeName !== "A"){
        element = element.parentNode;
      }
      ulElement = element.parentNode.parentNode;
      aElements = ulElement.querySelectorAll("li > a");
      tabContents = document.getElementById("tabs-id").querySelectorAll(".tab-content > div");
      for(let i = 0 ; i < aElements.length; i++){
        aElements[i].classList.remove("text-white");
        aElements[i].classList.remove("bg-coolGray-900");
        aElements[i].classList.add("text-coolgray-900");
        aElements[i].classList.add("bg-white");
        tabContents[i].classList.add("hidden");
        tabContents[i].classList.remove("block");
      }
      element.classList.remove("text-coolgray-900");
      element.classList.remove("bg-white");
      element.classList.add("text-white");
      element.classList.add("bg-coolGray-900");
      document.getElementById(tabID).classList.remove("hidden");
      document.getElementById(tabID).classList.add("block");
    }
  </script>



























