
<div class="z-0 w-full py-40 pt-32 pb-20 bg-black"></div>
<div class="inline-flex">
    <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/b5/b51e51af5415ed472b9a0b4528baa46151ec95c6_full.jpg" 
    class="w-48 h-48 -mt-24 border-solid rounded-full border-sky-300 border-6 ml-80">
    <div>
        <h1 class="pt-4 pl-4 text-2xl text-left"><%= @user.first_name %></h1>
        <h1 class="pt-2 pl-4 text-sm text-left text-red-500">REFEREE GRADE HERE</h1>
    </div>
</div>

<% @user1.games.each do |game| %>
   <p> <%= game.home_team %> vs <%= game.away_team %> </p>
<% end %>

<div class="mb-32">
<%= month_calendar(events: @user1.games) do |date, games| %>
	<h1><%= date.day %></h1>

	<% games.each do |game| %>
		<%= link_to game do %>
			<h1 class="text-center text-blue-500"><%= game.teams %></h1>
            
        <% end %>
	<% end %>
<% end %>
</div>