<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @block.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @block.end_time %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @block.reason %>
</p>

<p>
  <strong>User:</strong>
  <%= @block.user.name %>
</p>





<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
