<%= simple_form_for(@venue) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="mb-6">
    <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Venue Name</label>
      <%= f.input :name,
        label:false, 
        input_html: {class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
  </div>

  <%= f.simple_fields_for :address, OpenStruct.new(@venue.address) do |a| %>
        <div class="mb-4">
            <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Street Address</label>
                <%= a.input :street_address, id: :street_address,
                    label:false,
                    input_html: { autocomplete: "street address", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
        <div class="mb-4">
            <label class="block mb-2 text-sm font-bold text-gray-700" for="username">City</label>
                <%= a.input :city, id: :city,
                    label:false,
                    input_html: { autocomplete: "city", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
        <div class="mb-4">
            <label class="block mb-2 text-sm font-bold text-gray-700" for="username">State</label>
                <%= a.input :state, id: :state,
                    label:false,
                    input_html: { autocomplete: "state", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
        <div class="mb-4">
            <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Zip Code</label>
                <%= a.input :zip_code, id: :zip_code,
                    label:false,
                    input_html: { autocomplete: "zip code", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
  <% end %>

  <div class="mb-6">
    <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Notes</label>
      <%= f.input :note,
        label:false, 
        input_html: {class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
