<div class="mt-10">
  <h1 class="mb-10 text-2xl font-bold text-center">Venues</h1>

  <table class="justify-center w-full text-center border border-separate border-coolGray-900 ">
    <tr>
      <th class="border border-coolGray-900">Venue</th>
      <th class="border border-coolGray-900">Street Adress</th>
      <th class="border border-coolGray-900">City</th>
      <th class="border border-coolGray-900">State</th>
      <th class="border border-coolGray-900">Zip Code</th>
      <th class="border border-coolGray-900">Note</th>
    </tr>
    <% @venues.order("name").each do |venue| %>
    <tr class="">
      <td class="border border-coolGray-900"><%= venue.name %></td>
      <td class="border border-coolGray-900"><%= venue.address["street_address"] %></td>
      <td class="border border-coolGray-900"><%= venue.address["city"] %></td>
      <td class="border border-coolGray-900"><%= venue.address["state"] %></td>
      <td class="border border-coolGray-900"><%= venue.address["zip_code"] %></td>
      <td class="w-1/4 break-normal border border-coolGray-900"><%= venue.note %></td>
      <td class="flex items-center justify-center mt-5">
        <%= link_to edit_venue_path(venue), class:"btn btn-edit" do %>
          <h1 class="">Edit</h1>
        <% end %>
      </td>
    </tr>
    <% end %>  
  </table>
</div>