
<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-bold text-gray-700" for="username">League</label>
      <%= f.input :league, label: false do %>
        <%= f.select :league_id, League.all.map { |r| [r.title, r.id] }, {include_blank: "Select League"}, {class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
      <% end %>
  </div>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Home Team</label>
      <%= f.input :home_team,
          label:false, 
          input_html: {class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
  </div>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Away Team</label>
      <%= f.input :away_team,
          label:false, 
          input_html: {class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
  </div>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Venue</label>
      <%= f.input :venue, label: false do %>
        <%= f.select :venue_id, Venue.all.map { |r| [r.name, r.id] }, {include_blank: "Select Venue"}, {class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
      <% end %>
  </div>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-bold text-gray-700" for="username">Start Time</label>
      <%= f.input :start_time,
          label:false,
          default: Time.parse('12:00'),
          minute_step: 15,
          :ampm => true,
          order: %i(month day year),
          input_html: {class:"shadow appearance-none border rounded w-22 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
  </div>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-bold text-gray-700" for="username">End Time</label>
      <%= f.input :end_time, 
          label:false,
          default: Time.parse('14:00'),
          minute_step: 15,
          :ampm => true,
          order: %i(month day year),
          input_html: {class:"shadow appearance-none border rounded w-22 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
  </div>
  <div class="flex items-center justify-between">
    <%= f.button :submit, "CREATE GAME", class:"btn btn-create w-full"  %>
  </div>
<% end %>