<p id="notice"><%= notice %></p>

<h1>Games</h1>


    <% @games.order('start_time asc').each do | game | %>
    <div class="mb-10 text-center">
        <%= link_to game do %>
            <p><%= game.league.title %> - <%= game.home_team %> vs <%= game.away_team %></p>
        <% end %>
        <p><%= game.start_time&.strftime("%b %d, %Y %l:%M%P")  %> - <%= game.end_time&.strftime("%l:%M%P")  %></p>
        <br>
        <span><%= link_to 'Show', game %> | <%= link_to 'Edit', edit_game_path(game) %> | <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Assignment', edit_assignment_path(game) %></span>
    </div>
    <% end %>


<br>
<%= link_to 'New Game', new_game_path %>