
<div class="flex flex-col items-center h-screen my-56">
  <div class="w-full max-w-xs ">
    <div class="px-8 pt-6 pb-8 mb-4 bg-white rounded shadow-md">
      <div class="mb-4">
        <h2 class="mb-4 text-center">New Referee Invitation</h2>
        <label class="block mb-2 text-sm font-bold text-gray-700">Email</label>
          <%= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>

            <% resource.class.invite_key_fields.each do |field| -%>
              <div class="mb-4 form-inputs">
                <%= f.input field,
                      required: false,
                      autofocus: true,
                      label: false,
                      input_html: { autocomplete: "email", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
              </div>
            <% end %>

              <div class="mb-4">
                <label class="block mb-2 text-sm font-bold text-gray-700">Roles</label>
                  <%= f.select :role, options_for_select(User.roles.map { |key, value| [key.humanize, key] }), {prompt: "Select Role"}, class: "form-control",
                    label:false,
                    autofocus: true,
                    input_html: { autocomplete: "role", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
              </div>
              <div class="mb-4">
                <label class="block mb-2 text-sm font-bold text-gray-700">Referee Grade</label>
                  <%= f.select :grade, options_for_select(User.grades.map { |key, value| [key, key] }), {prompt: "Select Grade"}, class: "form-control",
                    label:false,
                    autofocus: true,
                    input_html: { autocomplete: "role", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } %>
              </div>

              <%= button_tag(class:"btn justify-center items-center btn-create inline-flex gap-2 w-full") do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                Send an Invitation 
              <% end %>



          <% end %>
      </div>
    </div>
  </div>
</div>


