<!DOCTYPE html>
<html>
  <head>
    <title>RefSphereSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet"> 

    <style>
      #menu-toggle:checked + #menu {
        display: block;
      }

      ul li ul li {
        display: none;
      }

      ul li:hover ul li {
        display: block;
      }
    </style>
  </head>

  <body class="antialiased bg-gray-200">
    <p class="text-center text-green-500 bg-coolGray-900"><%= notice %></p>
    <p class="text-center text-red-500 bg-coolGray-900"><%= alert %></p>

    <header class="flex flex-wrap items-center px-6 py-2 bg-coolGray-900 lg:px-16 lg:py-2">
      <div class="flex items-center justify-between flex-1">
        <%= link_to root_path do %>
        <h1 class="flex items-center justify-between flex-1 text-2xl font-bold text-white font-lato">
            RefSphere
        </h1>
        <% end %>
      </div>

        <label for="menu-toggle" class="block cursor-pointer lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="32" height="32" viewBox="0 0 20 20" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <line x1="4" y1="6" x2="20" y2="6" />
            <line x1="4" y1="12" x2="20" y2="12" />
            <line x1="4" y1="18" x2="20" y2="18" />
          </svg>
        </label>
        <input type="checkbox" class="hidden" id="menu-toggle" />

        <div class="hidden w-full lg:flex lg:items-center lg:w-auto" id="menu">
          <nav>
            <ul class="items-center justify-between pt-4 text-base text-white lg:flex lg:pt-0">
            <% if user_signed_in? && current_user.role == "Referee" %>
              <li>
                <%= link_to root_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1>Home</h1>
                <% end %>
              </li>
              <li>
                <%= link_to leagues_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1>Open Games</h1>
                <% end %>
              </li>
              
              <li>
                <%= link_to venues_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1>Venues</h1>
                <% end %>
              </li>
              <li>
                <%= link_to root_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1>Schedule</h1>
                <% end %>
              </li>
              <li>
                <%= link_to blocks_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1>Blocks</h1>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1 class="btn btn-nav">Sign Out</h1>
                <% end %>
              </li>
              <%= link_to current_user do %>
                <% if current_user.profile_picture.attached? %>
                  <img src=<%= current_user.profile_picture.url(:gravity=>"face", :zoom=>0.7, :width=>300, :height=>300, :crop=>"thumb") %> class="w-12 h-12 ml-4 border-2 border-transparent rounded-full hover:border-red-500" alt="name">
                <% else %>
                  <%= image_tag("profile_default.jpg", class: "w-12 h-12 ml-4 border-2 border-transparent rounded-full hover:border-red-500") %>
                <% end %>
              <% end %> 
            <% elsif user_signed_in? && current_user.role == "Assignor" %>
              <li>
                <%= link_to root_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1>Home</h1>
                <% end %>
              </li>
              <li>
                <%= link_to leagues_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1>Open Games</h1>
                <% end %>
              </li>
              <li>
                <%= link_to games_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1>Games</h1>
                <% end %>
              </li>
              <li>
                <%= link_to venues_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1>Venue</h1>
                <% end %>
              </li>
              <li><a class="block px-0 py-3 border-b-2 border-transparent lg:p-4">Create</a>
                <ul class="absolute text-white bg-coolGray-900">
                  <li>
                    <%= link_to new_user_invitation_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                      <h1>New Referee</h1>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_game_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                      <h1>New Game</h1>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_league_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                      <h1>New League</h1>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_block_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                      <h1>New Block</h1>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_venue_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                      <h1>New Venue</h1>
                    <% end %>
                  </li>
                </ul>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1 class="btn btn-nav">Sign Out</h1>
                <% end %>
              </li>
              <%= link_to current_user do %>
                <% if current_user.profile_picture.attached? %>
                  <img src=<%= current_user.profile_picture.url(:gravity=>"face", :zoom=>0.7, :width=>300, :height=>300, :crop=>"thumb") %> class="w-12 h-12 ml-4 border-2 border-transparent rounded-full hover:border-red-500" alt="name">
                <% else %>
                  <%= image_tag("profile_default.jpg", class: "w-12 h-12 ml-4 border-2 border-transparent rounded-full hover:border-red-500") %>
                <% end %>
              <% end %> 
            <% else %>
              <li>
                <%= link_to new_user_session_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1 class="btn btn-primary">Sign In</h1>
                <% end %>
              </li>
            <% end %>  
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
