<!DOCTYPE html>
<html>
  <head>
    <title>RefSphereSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <style>
      #menu-toggle:checked + #menu {
        display:block;
      }
    </style>
  </head>

  <body class="antialiased bg-gray-200">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <header class="flex flex-wrap items-center px-6 py-2 bg-gray-700 lg:px-16 lg:py-0">
      <div class="flex items-center justify-between flex-1">
        <%= link_to root_path do %>
        <h1 class="flex items-center justify-between flex-1 text-2xl text-white">
            RefSphere
        </h1>
        <% end %>
      </div>

        <label for="menu-toggle" class="block cursor-pointer lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="32" height="32" viewBox="0 0 20 20" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <line x1="4" y1="6" x2="20" y2="6" />
            <line x1="4" y1="12" x2="20" y2="12" />
            <line x1="4" y1="18" x2="20" y2="18" />
          </svg>
        </label>
        <input type="checkbox" class="hidden" id="menu-toggle" />

        <div class="hidden w-full lg:flex lg:items-center lg:w-auto" id="menu">
          <nav>
            <ul class="items-center justify-between pt-4 text-base text-white lg:flex lg:pt-0">
              <li>
                <%= link_to root_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1>Home</h1>
                <% end %>
              </li>
              <li>
                <%= link_to games_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1>Games</h1>
                <% end %>
              </li>
              <li>
                <%= link_to root_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1>Schedule</h1>
                <% end %>
              </li>
              <li>
                <%= link_to root_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1>Availability</h1>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1>Sign In</h1>
                <% end %>
              </li>
              <% if user_signed_in? %>
              <li>
                <%= link_to current_user, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1>Profile</h1>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class:"lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-500" do %>
                  <h1>Sign Out</h1>
                <% end %>
              </li>
              <% end %>
              
            </ul>
          </nav>
          <a href="#" class="flex items-center justify-start mb-4 cursor-pointer lg:ml-4 lg:mb-0">
            <img src="https://cbsnews3.cbsistatic.com/hub/i/r/2019/08/14/fdb57460-b0a7-4298-b25d-f58309048548/thumbnail/620x413/45e28f81a749aaa20eeb409393ed45c5/gettyimages-1168042139.jpg" class="w-10 h-10 border-2 border-transparent rounded-full hover:border-red-500" alt="name">
          </a> 
        </div>
      </div>
      
    </header>



    
    <%= yield %>
  </body>
</html>
